$white-color: $color-white;
$black-color: $color-black;
$btn-background-gray: $color-gray-epsilon;

.sng-products-grid {
  margin: 20px 0 100px 0;
  text-align: center;

  &__loadmore-btn {
    text-transform: uppercase;
    padding: 5px 35px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    background-color: $black-color;
    color: $white-color;

    &:hover {
      background-color: $btn-background-gray;
      color: $black-color;
      border: 1px solid $black-color;
    }
  }
}