// -------------------------------- //
// Theme Variables                  //
// -------------------------------- //

// ------------ Colors ------------ //
$main-background-color: #fff;

$color-white: #fff;
$color-black: #000;

// grays
$color-gray-alpha: #eee;
$color-gray-beta: #aaa;
$color-gray-gamma: #888;
$color-gray-delta: #ccc;
$color-gray-epsilon: #efefef;

// ------------ Fonts ------------ //
$strong-font-family: 'Limelight', cursive;
$strong-secondary-font-family: 'Oswald', sans-serif;
$medium-font-family: 'Montserrat Alternates', sans-serif;
$light-font-family: 'Josefin Slab', serif;
